<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <title></title>
</head>
<style>
    th{

    }
    table{
        width: 100%;
    }
    tbody tr td{
        height: 50px;
    }
    thead tr th{
        height: 50px;
    }
    caption {
        font-size: 24px;
    }
</style>
<body>
<table border="1" cellspacing="0" cellpadding="0">
    <caption>乐福来</caption>
    <thead>
    <tr>
        <th>卡别</th>
        <th>当日销售统计</th>
        <th>当月销售统计</th>
        <th>总销售统计</th>
    </tr>
    </thead>
    <tbody align="center">
    <tr>
        <td>银卡</td>
        <td>{$yin_today}</td>
        <td>{$yin_yue}</td>
        <td>{$yin_gong}</td>
    </tr>
    <tr>
        <td>金卡</td>
        <td>{$jin_today}</td>
        <td>{$jin_yue}</td>
        <td>{$jin_gong}</td>
    </tr>
    <tr>
        <td>钻卡</td>
        <td>{$zuan_today}</td>
        <td>{$zuan_yue}</td>
        <td>{$zuan_gong}</td>
    </tr>
    <tr>
        <td>铂金</td>
        <td>{$bai_today}</td>
        <td>{$bai_yue}</td>
        <td>{$bai_gong}</td>
    </tr>
    <tr>
        <td>翡翠</td>
        <td>{$fei_today}</td>
        <td>{$fei_yue}</td>
        <td>{$fei_gong}</td>
    </tr>
    <tr>
        <td>980推荐</td>
        <td>{$tui_today}</td>
        <td>{$tui_yue}</td>
        <td>{$tui_gong}</td>
    </tr>
    <tr>
        <td>一星董事</td>
        <td>{$yixing_today}</td>
        <td>{$yixing_yue}</td>
        <td>{$yixing_gong}</td>
    </tr>
    <tr>
        <td>二星董事</td>
        <td>{$erxing_today}</td>
        <td>{$erxing_yue}</td>
        <td>{$erxing_gong}</td>
    </tr>
    <tr>
        <td>三星董事</td>
        <td>{$sanxing_today}</td>
        <td>{$sanxing_yue}</td>
        <td>{$sanxing_gong}</td>
    </tr>
    <tr>
        <td>四星董事</td>
        <td>{$sixing_today}</td>
        <td>{$sixing_yue}</td>
        <td>{$sixing_gong}</td>
    </tr>
    <tr>
        <td>五星董事</td>
        <td>{$wuxing_today}</td>
        <td>{$wuxing_yue}</td>
        <td>{$wuxing_gong}</td>
    </tr>
    <tr>
        <td>1280推荐</td>
        <td>{$xing_today}</td>
        <td>{$xing_yue}</td>
        <td>{$xing_gong}</td>
    </tr>
    </tbody>
    <!--<tfoot>-->
    <!--<tr>-->
        <!--<td>Sum</td>-->
    <!--</tr>-->
    <!--</tfoot>-->
</table>

</body>
</html>